@import "./_body.css";
@import "./_formulario.css";
@import "./_mediaqueries.css";
@media only screen and (min-width: 600px){
    body{
       background-color:#98887c;
    }
    h1{
       color:#425b6e;
       font-size: 3rem;
    }
    .formularioMio{
        background-color:#94736e;
     width: 600px;
     height: 400px;
     }
    .menu{
       background-color:#94736e;
       padding: 5px;
       list-style: none;
       margin: 20px auto;
       text-align: center;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
    }
}